<a class=download href="<%=letter.escape("pdf")%>" download="cover-letter.pdf">
  Download
</a>

<button class="destroy"> Delete this Cover Letter </button>


<article class="cover-letter">
  <%= letter.get("body") %>
</article>
