<h1>Welcome to the Job Helper!</h1>

<% if logged_in? %>
  <h3> Hello <%= current_user.username %> </h3>
  <%= link_to "Logout", session_url, method: :delete %>
<% else %>
  <%= link_to "Log in", new_session_url %>
<% end %>
