
<% if logged_in? %>


    <app-header></app-header>
    <main ng-view>

    </main>





  </script>
<% else %>
<h2>Welcome to the Job Helper!</h2>

  <h2> Sign In with Github </h2>

  <a href="/auth/github"> Click Here </a>

<% end %>
