
<% if logged_in? %>


    <app-header></app-header>
    <flash-box></flash-box>
    <main ng-view>

    </main>





  </script>
<% else %>

  <div class="welcome-box">
    <ul class="welcome-list">
      <li class="welcome"> Welcome to the Job Helper! </li>
      <li><a href="/auth/github"> Sign In with Github </a> </li>
      <li><a href="/session/demo"> or Demo </a> </li>
    </ul>

  </div>





<% end %>
