<h1>Welcome to the Job Helper!</h1>

<% if logged_in? %>
  <%= link_to "Logout", session_url, method: :delete %>
  <div class="" id="main">

  </div>
  <script>
  $(document).ready(function(){
    JobHelper.initialize();
  });
  </script>
<% else %>
  <h1> Sign In with Github </h1>

  <a href="/auth/github"> Click Here </a>

<% end %>
