
<% if logged_in? %>


    <app-header></app-header>
    <flash-box></flash-box>
    <main ng-view>

    </main>





  </script>
<% else %>
<h2>Welcome to the Job Helper!</h2>

  <h2><a href="/auth/github"> Sign In with Github </a> </h2>
  <h4><a href="/session/demo"> or sign in as a demo user </a> </h4>

<% end %>
