
<div class="error-box" ng-show="form.hasErrors" ng-include="error_box.html">

</div>

<h3> {{ form.profile.isNew() ? "Creating" : "Editing" }} {{ form.profile.name }}</h3>
<br>
<label for="">Profile name: <input type="string" name="profile[name]" ng-model="form.profile.attributes.name"></label>
<br>
<label for="">LinkedIn: <input type="string" name="profile[linkedin]" ng-model="form.profile.attributes.linkedin"></label>
<br>
<label for="">Github: <input type="string" name="profile[github]" ng-model="form.profile.attributes.github"></label>
<br>
<label for="">Personal Site: <input type="string" name="profile[personal_site]" ng-model="form.profile.personal_site"></label>

<article class="cover-letter-form" contentEditable=true ng-bind-html="form.profile.attributes.cover_letter_template">
</article>

<button  ng-click="form.submit()">
{{ form.profile.isNew() ? "Create" : "Update" }}
</button>
