<h1>New Blurb</h1>
<label for="">What do you want to call this blurb?</label></br>
<input type="text" name="blurb[title]" value="<%=blurb.escape("title")%>">
<br>
<br>
<label for="">Enter the blurb here put "[company name]" wherever you'd like to place the company's name</label>
<input type="text" name="blurb[body]" value="<%=blurb.escape("body")%>">
<br>
<input type="submit"  value="Create the blurb!">
