
<ul class="sections group">

  <li class="blurb-section" id="blurb-list">
    <h2> My blurbs</h2> <button class="new-blurb">New Blurb </button>
    <ul>
      <% blurbs.each(function(blurb) { %>
        <li class="blurb" data-id="<%=blurb.get("id")%>">
          <%= blurb.get("title") %>
        </li>
      <% }) %>
    </ul>
  </li>

  <li class="blurb-section" id="blurb-show">

  </li>

  <li class="blurb-section" id="blurb-form">

  </li>
</ul>
