
<ul class="sections group">

  <li class="blurb-section" id="blurb-list">
    <h1>My Blurbs</h1>
    <ul>
      <% blurbs.each(function(blurb) { %>
        <li class="blurb" data-id="<%=blurb.get("id")%>">
          <%= blurb.get(title) %>
        </li>
      <% }) %>
    </ul>
  </li>

  <li class="blurb-section" id="blurb-show">

  </li>

  <li class="blurb-section" id="blurb-form">

  </li>
</ul>
