<label class="logo"><a href="#"> Job Helper </a></label>

<ul class="links group">
  <li><a href="#profiles/me"> My Profile </a></li>
  <li><a href="#companies"> Companies </a></li>
  <li><a href="#"> My Jobs </a></li>
</ul>
