<h2> Welcome <%= user.escape("username") %> </h2>
<a href="#profiles/me">My Profile </a><br>
<a href="#profiles/edit">Edit My profile </a>
<a href="#companies">See all companies</a>


<div class="box"> </div>
