

<ul class="blurb-container group">
  <li class="blurb-selector">
    <ul class="blurbs">
      <li ng-class="form.checkClass('new')"
        ng-click="form.selectNew()"
        class="blurb-item"
        > New </li>
      <li ng-repeat="blurb in form.blurbs.all()"
      ng-click="form.selectBlurb(blurb.id)"
      ng-class="form.checkClass(blurb.id)"
      class="blurb-item"
      >
        {{blurb.get('title')}}
      </li>
    </ul>
  </li>
  <li class="blurb-form">
    <form ng-submit="form.save()">
      <ul class="blurb-form">

          <li>Title:
            <br>
            <input type="text" name="blurb[title]" ng-model='form.selected.attributes.title'></li>

          <li> Body:
            <br>
            <textarea name="blurb[]" rows="8" cols="40" ng-model="form.selected.attributes.body"></textarea></li>
      </ul>
      <button class="submit">{{ (form.selected.id) ? 'Update' : 'Create' }}</button>
    </form>
  </li>



</ul>
