<h1 class="title">Companies</h1>
<form class="search" ng-submit="index.confirm(index.addCompany)">

<label for="">SEARCH:  <input type="text" name="company[name]" ng-model="index.searchName" ng-change="index.updateCompanies()"><button type="submit" name="button">Add</button></label>
</form>
<div class="confirmation-box" ng-show="index.confirmation">
  <button ng-click="index.yes()">Yes</button>
  <button ng-click="index.no()">No</button>
</div>
<ul class="company-list">
  <li ng-repeat="company in index.shown" class="item company-name"><a class="linked" href="#/companies/{{company.id}}">{{company.get('name')}}</a></li>


  </li>
</ul>
<ul class="page-select">
  <li class="page" ng-click="index.goToPage(1)" ng-class="(index.page === 1) ? 'invalid' : 'linked'">First</li>
  <li class="page" ng-click="index.prevPage()" ng-class="(index.hasPrev()) ? 'linked' : 'invalid'">Prev</li>
  <ul class="pages">
    <li class="page" ng-repeat="page in index.nearPages()" ng-class="(page === index.page) ? 'selected' : 'linked'" ng-click="index.goToPage(page)">
      {{page}}
    </li>
  </ul>
  <li class="page" ng-click="index.nextPage()" ng-class="(index.hasNext()) ? 'linked' : 'invalid'">Next</li>
  <li class="page" ng-click="index.goToPage(index.pages())" ng-class="(index.page === index.pages()) ? 'invalid' : 'linked'">Last</li>
</ul>
