<h2> Add Company </h2>
<label> Company Name: <input type="text" name="company[name]" value="<%= company.escape("name")%>"> </label>
<br>
<label for="">Jobs Site <input type="text" name="company[jobs_site]" value="<%= company.escape("name")%>"></label>br
<br>
<label for="">Contact Email <input type="text" name="company[contact]" value="<%=company.escape("contact")%>"></label>
<br>
<label for="">Company Website: <input type="text" name="company[website]" value="<%= company.escape("website")%>"></label>
<br>
<input type="submit"  value="Add Company">
