<input type="text" name="company_name" id="search" value="">
<ul class="company-dropdown">
  <% companies.each(function(company) { %>
    <li data-company-id=<%=company.get("id") %> >
      <%= company.escape("name") %>
    </li>
  <% }) %>
</ul>
