<h2> Profile </h2>

<section class= "links-container">
<ul class="links group">

  <li>
    <label for="linkedin">
      Your LinkedIn Profile:<br>
      <input type="text" name="profile[linkedin]" value="<%=profile.escape("linkedin")%>">
    </label>
  </li>
  <li>
  <label for="github">
    Your Github Repos:<br>
    <input type="text" name="profile[github]" value="<%=profile.escape("github")%>">
  </label>
  </li>
  <li>
  <label for="personal site">
    Link to your personal site:<br>
    <input type="text" name="profile[personal_site]" value="<%=profile.escape("personal_site")%>">
  </label>
  </li>

</ul>
</section>

<h2 class="cover-letter-title"> Your Cover Letter Template </h2>
<label class="instructions"> Please Copy and Paste your cover letter into the box below </label>

<article class="cover-letter"  contenteditable="true" id="template">
  <%=profile.get("cover_letter_template") %>
</article>


<input type="submit" value="Submit">
