<label class="logo"><a href="#"> Job Helper </a></label>

<ul class="links group">
  <li><a href="#companies"> Companies </a></li>
  <li><a href="#profiles/me"> My Profile </a></li>
  <li><a href="#cover_letters">My Cover Letters </a></li>
  <li><a href="#applications"> My Jobs </a></li>
</ul>
