<h1>Applications</h1>
<button class="hide-show"
  ng-click="index.toggle()"
>
{{ index.displayForm ? 'Finished Adding' : 'Add Applications'}}
</button>

<div ng-show="index.displayForm"
  ng-include="'applications/application_form.html'"
  ng-controller"ApplicationFormCtrl as form"
  >

</div>


<div class="app-collection">
  <input type="text"
    ng-model="index.searchName"
    ng-change="index.updateResults()"> {{ index.results.length }}
  <ul class="applications">
    <li
      ng-repeat="app in index.results"
      class="application-item"
    >
      {{app.get('company_name')}}

    </li>
  </ul>
</div>
