<h1 class="title">Applications</h1>



<div class="app-collection">
  <section class="search">
    Seach Applications:
    <input type="text"
      ng-model="index.searchName"
      ng-change="index.updateResults()">
  </section>
  <ul class="applications">
    <li class="application">
      <ul class="group">
        <li class="application-item subtitle">Company Name</li>
        <li class="application-item subtitle">Job url</li>
        <li class="application-item subtitle">Job Title</li>
        <li class="application-item subtitle">Application status</li>

      </ul>
    </li>

    <li
      ng-repeat="app in index.results"
      class="application"
    >
    <application-item application="app.id"> </application-item>
</div>
