<ul class="chart-list group">
  <li class="chart">
    <h3 class="subtitle">Rejected : {{charts.percentages.rejected}}%</h3>
    <canvas id="rejected" width="300" height="300"></canvas>
  </li>
  <li class="chart">
    <h3 class="subtitle">Phone Screened : {{charts.percentages.phone_screened}}%</h3>
    <canvas id="phone_screened" width="300" height="300"></canvas>
  </li>
  <li class="chart">
    <h3 class="subtitle">Onsite : {{charts.percentages.on_site}}%</h3>
    <canvas id="on_site" width="300" height="300"></canvas>
  </li>
</ul>
