
<label for="">Select the company
<select class="dropdown" id="companies" name="cover_letter[company_id]">
<% companies.each(function(company){%>
  <option value="<%=company.get("id")%>"
    <% if (company.get("id") == letter.get("company_id")) { %>
      selected
    <% } %>
    >
    <%= company.escape("name") %>
  </option>
<% }) %>
</select>
</label>

<label for="">Select your blurb
<select class="dropdwon" name="cover_letter[blurb_id]"  id="blurbs">

  <% blurbs.each(function(blurb) { %>
    <option value="<%=blurb.get("id")%>"
      <% if (blurb.get("id") == letter.get("blurb_id")) { %>
        selected
      <% } %>
      >
      <%= blurb.escape("title") %>
    </option>
  <%  }) %>
</select>
</label>


<article id="preview" contentEditable=true>


</article>

<input type="submit" value="Create Cover Letter">
