<header class="header group">
  <label class="logo header-item">
    <a href="#/">AppTracker</a>
  </label>
  <nav class="header-nav header-item">
    <ul class="nav-links group">

      <li class="nav-link">
        <a href="#/applications/">Applications</a>
        <ul class="header-dropdown">
            <li><a href="#/applications/new">New</a></li>
            <li><a href="#/applications">All</a>
        </ul>
      </li>

      <li class="nav-link">
        <a href="#/blurbs/">Blurbs</a>
        <ul class="header-dropdown">
            <li><a href="#/blurbs/new">New</a></li>
            <li><a href="#/blurbs">All</a>
        </ul>
      </li>

      <li class="nav-link">
        <a href="#/companies/">Companies</a>
        <ul class="header-dropdown">
            <li><a href="#/companies/new">New</a></li>
            <li><a href="#/companies">All</a>
        </ul>
      </li>
      <li class="nav-link">
        <a href="#/cover_letters/">Cover Letters</a>
        <ul class="header-dropdown">
            <li><a href="#/cover_letters/new">New</a></li>
            <li><a href="#/cover_letters">All</a>
        </ul>
      </li>

      <li class="nav-link">
        <a href="#/profiles">Profiles</a>
        <ul class="header-dropdown">
            <li><a href="#/profiles/new">New</a></li>
            <li><a href="#/profiles">All</a>
        </ul>
      </li>





      <li class="nav-link" ng-click="header.logout()">
        <a href="javascript:void(null)"> Logout </a>
      </li>
    </ul>
  </nav>
</header>
