


<h2 class="title">Blurbs</h2> <button class="blurbs-button" ng-click="portfolio.toggle('blurbs')">{{ portfolio.isDisplayed('blurbs') ? 'Hide' : 'Show' }}</button>

<section class="blurbs-container" ng-include="'blurbs/blurb_form.html'" ng-controller="BlurbFormCtrl as form" ng-show="portfolio.isDisplayed('blurbs')">

</section>

<br>
<h2 class="title"> Profiles </h2>
<button class="blurbs-button" ng-click="portfolio.toggle('profiles')">{{ portfolio.isDisplayed('profiles') ? 'Hide' : 'Show' }}</button>



<section class="profiles-container" ng-show="portfolio.isDisplayed('profiles')">
<label for="">
  Select Profile:
 <select class="select profile-select" name="profile" ng-model="portfolio.profile" ng-options="profile as profile.get('name') for profile in portfolio.profiles.all()">
</label>

</select>

<section class="links-container">

<h4>My links</h4>
<ul class="links group">
  <li>
    <strong> LinkedIn Profile:<br></strong>
      <a href="{{ portfolio.profile.get('linkedin') }}"> {{ portfolio.profile.get('linkedin')}} </a>
  </li>

  <li>
    <strong> Github Page: <br></strong>
     <a href="{{ portfolio.profile.get('github') }}"> {{ portfolio.profile.get('github') }} </a>
  </li>

  <li>
    <strong> Personal Site:<br></strong>
      <a href="{{portfolio.profile.personalSite}}"> {{ portfolio.profile.get('personal_site') }}</a>
  </li>
</ul>
</section>
<h2 class="cover-letter-title"> Cover Letter Template </h2>
<article class="cover-letter" ng-bind-html='portfolio.profile.html'>

</article>


</section>
