


<h2 class="title">Blurbs</h2> <button class="hide-show"
  ng-class="portfolio.hideOrShow('blurbs')"
  ng-click="portfolio.toggle('blurbs')">{{ portfolio.isDisplayed('blurbs') ? 'Hide' : 'Show' }}</button>

<section class="blurbs-container container" ng-include="'blurbs/blurb_form.html'" ng-controller="BlurbFormCtrl as form" ng-show="portfolio.isDisplayed('blurbs')">

</section>

<br>
<h2 class="title"> Profiles </h2>
<button class="hide-show"
  ng-class="portfolio.hideOrShow('profiles')"
  ng-click="portfolio.toggle('profiles')">{{ portfolio.isDisplayed('profiles') ? 'Hide' : 'Show' }}</button>



  <section class="profiles-container container" ng-show="portfolio.isDisplayed('profiles')"
  ng-include="'profiles/profiles_index.html'"
  ng-controller="ProfileIndexCtrl as profiles">

  </section>
