


.container.ng-hide-add-active {
  border: 0;
  height: 1px;
  padding: 0;

}
.container.ng-hide-remove {
  border: 0;
  height: 1px;
  padding: 0;
  transition: all 0s;

}

.container.ng-hide-remove-active {


}

.container.ng-hide-add {
  transition: all 1s;

}



.container {
  overflow: hidden;
  transition: all .5s linear;
  height: 500px;
}


main {
  width: 1000px;
  position: absolute;
  left: 50%;
  transition: all .5s;
  margin-left: -510px;
  background: #eee;
}



.ng-enter{
  left: 200%;
}
.ng-leave-active {
  left: -100%;
}
