.page {
  float: left;
  margin: 5px 10px;
}

.linked {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.selected {
  color: bold;
  font-weight: bold;
}


.invalid {
  text-decoration: line-through;
}

.company-link {
  display: block;
  width: 200px;
}

.search-box {
  width: 200px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin: auto;
}


.search-bar {
  width: 190px;

}


.search-suggestion {
  display: block;
  width: 190px;
  border-bottom: 1px solid #aaa;
  text-align: center;

  padding: 5px;
}
.search-suggestion:hover {
  background: rgb(40,100,220);
}

.select-item {
  border-bottom: 1px solid #aaa;
}
.select-item:hover {
  background: rgb(40,100,220);
  
}

.selected-item {
  background: rgb(40,100,220);
  color: #fff;
}
