


.page {
  float: left;
  margin: 5px 10px;
}

.linked {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.selected {
  color: bold;
  font-weight: bold;
}


.invalid {
  text-decoration: line-through;
}

.company-link {
  display: block;
  width: 200px;
}

.selections {
  color: #fff;
  background: #a00;
  padding: 20px;

}

.selection {
  border: 5px solid #ddd;
  padding: 10px;
  width: 200px;
  height: 100px;
  margin: 10px 20px;
  float: left;
}

.company-search > label {
  display: block;
  width: 200px;
  margin: auto;
}

.company-search-name {
  text-align: center;
}

.search-box {
  width: 200px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin: auto;
}


.search-bar {
  width: 190px;
  color: black;
}

.search-suggestion-box {
  position: absolute;
  background: #a00;
}

.search-suggestion {
  display: block;
  width: 190px;
  border-bottom: 1px solid #aaa;
  text-align: center;

  padding: 5px;
}
.search-suggestion:hover {
  background: rgb(40,100,220);
}



.select-item {
  border-bottom: 1px solid #aaa;
}
.select-item:hover {
  background: rgb(40,100,220);

}

.selected-item {
  background: rgb(40,100,220);
  color: #fff;
}


.select-dropdown {
  width: 200px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;

  position: absolute;
  background: #900;
}

.select-name {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:20px;
  min-width: 100px;

}
