.welcome-box {
  background: rgb(250,20,20);
  border: 2px solid black;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -250px;
  color: white;
}

.welcome-list {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -80px;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 18px;

}

.welcome-list > li {
  margin-top: 10px;
}
.welcome {
  font-weight: 700;
  font-size: 24px;
}
