<section class="cover-letter-select selection">
  <div class="cover-letter-drop-down">
    <div
    class="selected-cover-letter"
    ng-click="coverLetterSelect.toggle()">
    Selected Cover Letter: <br>
     {{ coverLetterSelect.selected.cover_letter.get('title') }}
    </div>
    <ul class="select-dropdown" ng-show="coverLetterSelect.selecting">

      <li
        ng-repeat="cover_letter in coverLetterSelect.coverLetters.all()"
        ng-click="coverLetterSelect.selectCoverLetter(cover_letter.id)"
        ng-class="coverLetterSelect.checkClass(cover_letter.id)"
        class="select-item"
      >
      {{ cover_letter.get('title') }}
      </li>
    </ul>
  </div>
</section>
