<h1> Profile </h1>



<h3> Your Cover Letter Template </h3>
<label> Please Copy and Paste your cover letter into the box below </label>

<article class="cover-letter"  contenteditable="true" id="template">

</article>


<input type="submit" value="Submit">
